{% extends 'squeeze/_layouts/settings' %}

{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{% set fullPageForm = true %}
{% set selectedTab = 'general' %}
{% set pageTitle = 'General Settings' | t('squeeze') %}
{% set pageAction = 'plugins/save-plugin-settings' %}
{% set pageUrl = 'squeeze/settings' %}

{% block settingsContent %}
    {{ forms.checkboxSelectField({
        label: 'Allowed Volumes' | t('squeeze'),
        instructions: 'Choose which volumes may be included in Squeeze downloads. Leave as all volumes to allow any volume, subject to token or permission checks.' | t('squeeze'),
        id: 'allowedVolumes',
        name: 'allowedVolumes',
        options: volumeOptions,
        values: settings.allowedVolumes,
        showAllOption: volumeOptions | length ? true : false,
        errors: settings.getErrors('allowedVolumes'),
        warning: macros.configWarning('allowedVolumes', 'squeeze'),
    }) }}

    {{ forms.textField({
        label: 'Default Token Duration' | t('squeeze'),
        instructions: 'Default lifetime for signed download tokens, in seconds. Leave blank for tokens that never expire.' | t('squeeze'),
        id: 'defaultTokenDuration',
        name: 'defaultTokenDuration',
        value: settings.defaultTokenDuration,
        errors: settings.getErrors('defaultTokenDuration'),
        warning: macros.configWarning('defaultTokenDuration', 'squeeze'),
    }) }}
{% endblock %}
